@using CSLGaming.UI.Admin.Services

@foreach (var product in Service!.Products)
{
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Categories</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>
                    @foreach (var category in product.Categories!)
                    {
                        <span>@category.CategoryType</span>
                        @if (!category.Equals(product.Categories.Last()))
                        {
                            <span>, </span>
                        }
                    }
                </td>
                <td>
                    <button class="btn btn-danger" @onclick="() => DeleteProduct(product.Id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
}





@code {

    [Parameter] public AdminProductService? Service { get; set; }

    [Parameter] public EventCallback OnChange { get; set; }

    public async Task DeleteProduct(int id)
    {
        if (Service is not null && OnChange.HasDelegate)
        {
            await Service.DeleteProd(id);
            await OnChange.InvokeAsync();
        }


    }

    protected override async Task OnInitializedAsync()
    {
        if (Service is not null)
        {
            await Service.GetAllProducts();

        }


    }

}
