@page "/products"
@using CSLGaming.UI.Admin.Services
@inject AdminProductService Service;

<PageTitle>products</PageTitle>

<h1>Products</h1>

<ProductComponentAdmin OnChange="Onchange" Service="Service"/>





@code {

    public void Onchange()
    {
        //refresh the page.
    }
}
