@page "/counter"
@using CSLGaming.UI.Admin.Services
@inject AdminProductService Service;

<PageTitle>Counter</PageTitle>

<h1>Products</h1>

<ProductComponentAdmin OnChange="Onchange" Service="Service"/>





@code {


    public void Onchange()
    {
        
    }
}
