<h3 class="d-flex justify-content-center mb-3 mt-5">Recomended for you</h3>

<div class="card-list d-flex justify-content-center">
	@foreach (ProductCard card in cards)
	{
		<CardsComponent Card="card" />
	}
</div>



@code {
	List<ProductCard> cards = new()
	{
		new ProductCard(){Image = "images/7dtd.png", Price = "300 Kr", Title = "Seven dies to die"},
		new ProductCard(){Image = "images/DOW.png", Price = "100 Kr", Title = "Dawn of war"},
		new ProductCard(){Image = "images/StrongholdDE.png", Price = "200 Kr", Title = "Stronghold Definitive Edition"}
	};
}
