<div id="carouselExampleCaptions" class="carousel slide mx-auto">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        @foreach (var product in Service.TopRatedProducts)
        {
            <div class="carousel-item active">
                <img src=@product.PictureUrl class="d-block w-100 mx-auto" style="width: 50%;" alt="Top rated product">
                <div class="d-none d-md-block carousel-text">
                    <h5>@product.Name</h5>
                    <p>@product.Price Kr</p>
                </div>
            </div>
        }
        @* <div class="carousel-item active">
            <img src="images/game1.png" class="d-block w-50 mx-auto" alt="...">
            <div class="d-none d-md-block carousel-text">
                <h5>Tekken</h5>
                <p>Unleash the warrior within</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/game2.png" class="d-block w-50 mx-auto" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Starcraft</h5>
                <p>Command vast armies to conquer the stars</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="images/game3.png" class="d-block w-50 mx-auto" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>World Of Warcraft</h5>
                <p>Where legends come to life and adventures await at every turn</p>
            </div>
        </div> *@
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@code{
    [CascadingParameter(Name = "Service")] public UIService? Service { get; set; }
}
