<div class="card" style="width: 18rem;">
    <img src="@Item.PictureUrl" class="card-img-top" alt="Product Picture">
    <div class="card-body">
        <h5 class="card-title">@Item.Name</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Item.Price</li>
        <li class="list-group-item">@Item.SelectedCategory.CategoryType</li>
    </ul>
    <div class="card-body">
        <button type="button" class="btn btn-danger" @onclick="RemoveItem">Remove</button>

    </div>
</div>

@code {
    [Parameter] public CartDTO? Item { get; set; }
    [Parameter] public EventCallback<CartDTO> OnRemoveItem { get; set; }

    public void RemoveItem()
    {
        if (OnRemoveItem.HasDelegate)
            OnRemoveItem.InvokeAsync(Item);
    }
}
