<div class="card bg-dark text-white" style="width: 18rem; border: 2px solid black;">
    <img src="@Item.PictureUrl" class="card-img-top" alt="Product Picture">
    <div class="card-body">
        <h5 class="card-title">@Item.Name</h5>
    </div>
    <ul class="list-group list-group-flush" style="border: none;">
        <li class="list-group-item bg-dark" style="border: none;">
            <span class="badge text-bg-success">@Item.Price Kr</span>
            </li>
        <li class="list-group-item bg-dark">
            <span class="badge text-bg-success">@Item.SelectedCategory.CategoryType</span>
        </li>
    </ul>
    <div class="card-body">
        <button type="button" class="btn btn-danger" @onclick="RemoveItem">Remove</button>

    </div>
</div>

@code {
    [Parameter] public CartDTO? Item { get; set; }
    [Parameter] public EventCallback<CartDTO> OnRemoveItem { get; set; }

    public void RemoveItem()
    {
        if (OnRemoveItem.HasDelegate)
            OnRemoveItem.InvokeAsync(Item);
    }
}
