
@page "/"
@inject UIService Service;
@using CSLGaming.UI.Pages;
@using CSLGaming.UI.Services
<!--
    <NavbarComponent />
    <CarouselComponent />
    <CardListComponent />

-->


<!--Anledningen till att vi använder flex-column på hela diven med de två componenterna och innuti aide componenten, 
    är för att flytta de två compunenterna till en column, och sedan i asiden för att flytta innehållet i asidekomponenten->

<div id="viewport" class="d-flex vh-100"> 
    <CascadingValue Value="Service" Name="Service">
    <AsideComponents OnChange="OnChange"/>
    <ProductComponent/>
    </CascadingValue>
</div>

@code{
    void OnChange()
    {
        
    }
}