
@page "/"
@inject UIService Service;
@using CSLGaming.UI.Pages;
@using CSLGaming.UI.Services
<!--
    <CarouselComponent />
    <CardListComponent />

-->




<CascadingValue Value="Service" Name="Service">
    <NavbarComponent/>
    <div id="viewport" class="d-flex vh-100"> 
        <AsideComponents OnChange="OnChange"/>
        <ProductComponent OnChange="OnChange"/>
    </div>
</CascadingValue>

@code{

    //Loading local storage into Service
    protected override async Task OnParametersSetAsync()
    {
        Service.CartItems = await Service.GetLocalStorageAsync<List<CartDTO>>("CartItems") ?? [];
    }

    void OnChange()
    {
        //reload the page and all subcomponents
    }
}