
@page "/"
@inject UIService Service;
@using CSLGaming.UI.Pages;
@using CSLGaming.UI.Services
<!--
    <CarouselComponent />
    <CardListComponent />

-->


    <NavbarComponent />


<div id="viewport" class="d-flex vh-100"> 
    <CascadingValue Value="Service" Name="Service">
    <AsideComponents OnChange="OnChange"/>
    <ProductComponent OnChange="OnChange"/>
    </CascadingValue>
</div>

@code{
    void OnChange()
    {
        
    }
}