@using CSLGaming.UI.Services
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
            <img src="/images/Logo3.png" alt="CSL-gaming logo" width="100" height="80">
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Content -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <!-- Menu Items -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @CurrentChoice.ToString()
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var group in Service!.CategoryLinkGroups)
                        {
                            <li><a class="dropdown-item" href="#" @onclick="() => {OnCategoryLinkClick(group.Id); UpdateChoice(group.Id);}">@group.Id@group.Name</a></li>
                        }
                    </ul>
                </li>
            </ul>

            <!-- Search Form -->
            <div class="d-flex">
                <input @oninput="e => UpdateSearchText(e)" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="button" @onclick="() => ChoiceSearch(Service)">Search</button>
            </div>
        </div>

        <!-- Login and Cart Buttons -->
        <div class="d-flex">
            <!-- Login Button -->
            <a class="btn btn-primary me-2" href="#">
                <i class="bi bi-person"></i> Login
            </a>

            <!-- Cart Button -->
            <button type="button" class="btn btn-primary position-relative" data-bs-toggle="modal" data-bs-target="#cart">
                <i class="bi bi-cart"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    @Service.CartItems.Count()
                </span>

            </button>

        </div>
    </div>
</nav>

<CartComponent OnChange="OnCartChange" />


@code {
    [CascadingParameter(Name = "Service")] public UIService? Service { get; set; }
    [Parameter] public EventCallback OnChange { get; set; }

    public void OnCartChange()
    {
        if(OnChange.HasDelegate && Service is not null)
        {
            OnChange.InvokeAsync();
        }
    }

    public enum Choice {Category, Game, Genere}
    public Choice CurrentChoice { get; set; } = Choice.Category;

    private void UpdateChoice(int id)
    {
        switch (id)
        {
            case 1:
                CurrentChoice = Choice.Category;
                break;
            case 2:
                CurrentChoice = Choice.Game;
                break;
            case 3:
                CurrentChoice = Choice.Genere;
                break;
            default:
                CurrentChoice = Choice.Category; // Default choice
                break;
        }
    }

    private async Task OnCategoryLinkClick(int groupId)
    {
        await Service.OnCategoryLinkClick(groupId);
        // Perform any additional actions if needed
    }

    async Task OnAsideCallback(int id)
    {
        if (OnChange.HasDelegate && Service is not null)
        {
            await Service.OnCategoryLinkClick(id);
            await OnChange.InvokeAsync();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (Service is not null)
        {
            await Service.GetLinkGroup();
            await OnChange.InvokeAsync();
        }
    }

}


