<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-white" style="background-color: #1D1F20;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel">@Service!.SelectedProduct!.Name</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                a modal example
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@code {
    [CascadingParameter(Name = "Service")] public UIService? Service { get; set; }

    protected override void OnParametersSet()
    {
        StateHasChanged();
    }

}
